# Git utiliza este archivo para saber qué carpetas 
# y archivos debe ignorar durante el seguimiento de cambios.

# Entorno virtual
.venv/

# Caché de Python
__pycache__/
*.py[cod]

# Variables de entorno
.env

# Archivos de VS Code (opcionales)
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de configuración de JetBrains (opcional)
.idea/

#Presentación pdf y power point
Calculadora_Python.pdf
Calculadora_Python.pptx
~$Calculadora_Python.pptx



