
<!--Primer archivo creado en HTML 
    Se encuentra separado dentro de la carpeta templates -->
    
<!DOCTYPE html>
<html lang="es">
    <head>
            <meta charset="UTF-8">
            <title>Calculadora Flask - Primera página Flask</title>
    </head>
    <body>
        <h1> Cálculadora básica </h1>
        <h2> Primer reto de Python llevado a la web con Flask </h2>
        <label >Valor 1</label>
        <input type = "number" placeholder="Ingresa el primer número">
        <br><br>
        <label >Valor 2</label>
        <input type = "number" placeholder="Ingresa el segundo número">
        <br><br>
        <button>Calcular</button>
        <p>Resultado:</p>
    </body>
</html>

